@font-face{
  font-family: "bananaslip";
  src: url("C:/Users/Drowsignal/Downloads/bananaslip_free/of/font/bananaslip.otf")
}

.title{
text-align:center;
padding-bottom:50px;
border-bottom: 1px #eeeeee solid;
}

.title img{
width:100%;
}



.title h1{
  color:#fff;
  font-size:50px;
  text-align:center;
  padding:12px 0px;
  
}

.contents{
  /*width:1170px;*/
  padding-top:50px;
  text-align:center
}
.gacha{
  padding:8px 24px;
  display:inline-block;
  color:white;
  background-color: orange;
  opacity:0.8;
  border-radius : 4px;

}
.gacha:hover{
  opacity:1;
}
.gachaBtn {
  font-size:20px;
}

.gacharesult{
  display:inline-block;
  padding-top:50px;
}

/*.gachagif{
 display:none; 
}
 */ 
.tweetBtn{
  display:none;
  padding-top:50px;
}


#res1 {
  display:none;
}
#res2 {
  display:none;
}

#res3 {
  display:none;
}

#res4 {
  display:none;
}

#res5 {
  display:none;
}

#res6 {
  display:none;
}

#res7 {
  display:none;
}

#res8 {
  display:none;
}

#res9 {
  display:none;
}

#res10 {
  display:none;
}

#res11 {
  display:none;
}

#res12{
  display:none;
}

#res13 {
  display:none;
}

#res14 {
  display:none;
}

#res15 {
  display:none;
}

#res16 {
  display:none;
}

#res17 {
  display:none;
}

#res18 {
  display:none;
}

#res19 {
  display:none;
}

#res20 {
  display:none;
}

#res21 {
  display:none;
}

#res22 {
  display:none;
}

#res23 {
  display:none;
}

#res24 {
  display:none;
}

#res25 {
  display:none;
}

#res26 {
  display:none;
}



#twt01{
  display:none;
}
#twt02{
  display:none;
}
#twt03{
  display:none;
}
#twt04{
  display:none;
}
#twt05{
  display:none;
}
#twt06{
  display:none;
}
#twt07{
  display:none;
}
#twt08{
  display:none;
}
#twt09{
  display:none;
}
#twt10{
  display:none;
}
#twt12{
  display:none;
}
#twt12{
  display:none;
}
#twt13{
  display:none;
}
#twt14{
  display:none;
}
#twt15{
  display:none;
}
#twt16{
  display:none;
}
#twt17{
  display:none;
}
#twt18{
  display:none;
}
#twt19{
  display:none;
}
#twt20{
  display:none;
}
#twt21{
  display:none;
}
#twt22{
  display:none;
}
#twt23{
  display:none;
}
#twt24{
  display:none;
}
#twt25{
  display:none;
}
#twt26{
  display:none;
}




.mu{
  height:200px;
}
