

.title{
text-align:center;
padding-bottom:50px;
}

.title img{
width:100%;
}



.title h1{
  color:#fff;
  font-size:50px;
  text-align:center;
  padding:12px 0px;
  
}

.top{
 padding-bottom:50px;
  text-align:center;
  border-bottom: #eeeeee 1px solid;
}

.top img{
  width:400px;
  display:inline-block;
}





.contents{
  /*width:1170px;*/
  padding-top:50px;
  text-align:center
}
.gacha{
  padding:8px 24px;
  display:inline-block;
  color:white;
  background-color: orange;
  opacity:0.8;
  border-radius : 4px;

}
.gacha:hover{
  opacity:1;
}
.gachaBtn {
  font-size:20px;
}

.gacharesult{
  display:inline-block;
  padding-top:50px;
}

/*.gachagif{
 display:none; 
}
 */ 
.tweetBtn{
  display:none;
  padding-top:50px;
}


#res1 {
  display:none;
}
#res2 {
  display:none;
}

#res3 {
  display:none;
}

#res4 {
  display:none;
}

#res5 {
  display:none;
}




#twt01{
  display:none;
}
#twt02{
  display:none;
}
#twt03{
  display:none;
}
#twt04{
  display:none;
}
#twt05{
  display:none;
}



.mu{
  height:200px;
}
